.loading {
    animation-name: loader;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* visibility: visible; */
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);

    }
    100% {
        transform: rotate(360deg);
    }
}

button {
    padding: 8px;
    color: rgb(24, 13, 11);
    background-color: rgb(212, 102, 234);
    font-family: cursive;
    border: none;
    border-radius: 10px;
}