.table-view {
    overflow: scroll;
}

.table-view table,
tr,
td,
th {
    border-collapse: collapse;
    border: solid 1px black;
}

.table-view table tr td,
th {
    padding: 10px;
}

.table-view table {
    font-family: cursive;
    text-align: center;
}

.table-view table th {
    background-color: tomato;
    text-decoration: dashed;
}

.table-view .view-btn {
    /* display: inline; */
    margin-left: 10px;
    background-color: rgb(84, 84, 235);
    color: whitesmoke;
    margin-top: 10px;
}

.table-view .view-btn:hover {
    box-shadow: 3px 3px 10px black;

}

.table-view .action-td {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;

}

.table-view .edit-btn {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.table-view .edit-btn:hover {
    animation-name: editBtn;
    animation-iteration-count: infinite;
    animation-duration:  0.5s;
    animation-timing-function: linear;
}

@keyframes editBtn {
    0% {
        background-image: linear-gradient(to left top, rgb(241, 89, 89), rgb(109, 109, 251), rgb(244, 244, 89));
    }
    33% {
        background-image: linear-gradient(to left top, rgb(109, 109, 251), rgb(244, 244, 89), rgb(241, 89, 89));
    }
    66% {
        background-image: linear-gradient(to left top, rgb(244, 244, 89), rgb(241, 89, 89), rgb(109, 109, 251));
    }
    100% {
        background-image: linear-gradient(to left top, rgb(241, 89, 89), rgb(109, 109, 251), rgb(244, 244, 89));
    }
}